/*Style for background behind main content block*/
body {
    background-color: #e4e4e4;
}

/*Style for main content block*/
section {
    background-color: #fafafa;
    min-height: 600px;
    width: 700px;
    margin: 32px 64px;
    padding: 15px 20px 30px 15px;
    position: relative;
}

/*Remove underline from links*/
a:-webkit-any-link {
    text-decoration: none;
}

/*Style for navbar*/
nav {
    background-color: #fafafa;
    width: 100%;
    height: 70px;
}

.navigation {
    float: right;
    margin: 20px 64px 0 0;
}

#nav-name {
    font-size: 42px;
    color: #fafafa;
    padding: 10px 20px;
    background-color: #3e3f3a;
    margin-left: 64px;
    height: 70px;
}

nav {
    margin-right: 75px;
}

/*Style for title of main content block*/
#name-title {
    color: #325d88;
    font-weight: 400;
    font-size: 42px;
}

/*Style for index picture*/
#my-picture {
    width: 250px;
    margin: 0 15px 0 0;
    float: left;
}

/*Style for portfolio image*/
.port-img {
    margin: 0 auto;
    position: relative;
}

.thumb {
    margin-top: 20px;
}

.thumb-label {
    position: absolute;
    bottom: 15px;
    width: 250px;
    background-color: #325d88;
    opacity: 0.8;
    color: #fafafa;
    text-align: center;
    padding: 7px;
    font-weight: 500;
}

/*Style for Contact page*/
.btn-primary {
    background-color: #3e3f3a;
    border-color: #3e3f3a;
}

.btn:hover {
    background-color: #325d88;
    border-color: #325d88;
}

.social-links {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

a { 
    color: #3e3f3a;
}

.fab {
    margin: 0 7px;
}

/*Style for footer*/
footer {
    position: static;
    width: 100%;
    height: 75px;
    background-color: #325d88;
    text-align: center;
    z-index: 1;
    color: #fafafa;
}

.line {
    width: 100%;
    height: 7px;
    background-color: #8e8c84;
    z-index:0;
}

.footer-text {
    margin: 20px;
}

/*Media Queries*/
@media screen and (max-width: 828px) {
    section {
        width: 90%;
        margin: 32px auto;
        position: relative;
    }
    #nav-name {
        margin-left: 5%
    }

@media screen and (max-width: 767px) {
    .thumb {
        margin: 0 0 50px 0;
    }
}

@media screen and (max-width: 640px) {
    /*Centering picture on index*/
    #my-picture {
        display: block;
        float: none;
        margin: 0 auto 15px;
    }

    /*Making navbar full width*/
    nav {
        background-color: #3e3f3a;
        width: 100%;
        height: auto;
        text-align: center;
    }
    #nav-name {
        padding: 0;
        background-color: transparent;
        margin: 0;
    }
    .navigation {
        width: 100%;
        background-color: #fafafa;
        text-align: center;
        padding: 5px 0;
        float: none;
        margin: 0;
        height: 40px;
    }
}